{% extends "base.html" %}

{% block content %}
  <h1>Название: {{ book.title }}</h1>
  {% if book.img %}
    <img src="{{ book.img.url }}" width="200">
  {% endif %}
  <p><strong>Автор:</strong> <a href="{% url 'author-detail' book.author.pk %}">{{ book.author }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Описание:</strong> {{ book.summary }}</p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p>
  <p><strong>Жанр:</strong> {% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Экземпляры</h4>

    {% if user.is_authenticated %}
         {% for copy in book.bookinstance_set.all %}
        <hr>
        <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'd' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
        {% if copy.status != 'a' %}<p><strong>Дата возврата:</strong> {{copy.due_back}}</p>{% endif %}
        <p><strong>Издательство:</strong> {{copy.imprint}}</p>
        <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
        {% endfor %}
    {% else %}
        <p class="text-danger">Для просмотра экземпляров книг необходимо авторизироваться!</p>

    {% endif %}

  </div>
{% endblock %}